* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 100vh;
}

a {
    text-decoration: none;
}

.polymorphic {
    font-size: 40px;
    width: 400px;
    padding: 0 15px;
    height: 70px;
    margin: 20px;
    border-radius: 35px;
    border-style: none;
    color: darkgray;
    font-weight: 400;
    background: #eeeeee;
    box-shadow: 5px 5px 10px #cecece, -5px -5px 10px #ffffff;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.polymorphic:hover {
    box-shadow: 5px 5px 10px #ffffff, -5px -5px 10px #cecece;
}

.polymorphic:active {
    filter: brightness(0.95);
}