* {
	margin: 0;
	border: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

header {
	height: 20mm;
	background-color: #202020;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	scroll-snap-align: start;
}

#logo {
	/* width: calc(300px - 30px); */
	padding-left: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	color: whitesmoke;
}

#logo a:visited {
	color: whitesmoke;
	stroke: none;
}

header ul {
	display: flex;
	flex-direction: row;
	height: 100%;
}

header ul li {
	width: 200px;
	list-style: none;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

header ul li a {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

html{
	scroll-snap-type: y mandatory;
}

main {
	width: 100%;
}

.mainblock {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	box-shadow: inset 0px 0px 100pt -80pt black;
}

.mainblock:nth-of-type(1){
	background-color: #8F00FF;
	height: calc(100vh - 60px);
}
.mainblock:nth-of-type(2){
	background-color: #D1B000;
	scroll-snap-align: start;
}
.mainblock:nth-of-type(3){
	background-color: #00D1D1;
	scroll-snap-align: start;
}

.background {
	z-index: 0;
	text-align: left;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}

.foreground {
	display: flex;
	z-index: 1;
	width: calc(100% - 60px);
	height: calc(100% - 60px);
	padding: 30px;
	position: relative;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.mainblock .foreground h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 20ex;
	color: whitesmoke;
}

.mainblock .background h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 70pt;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 5pt 35pt;
	box-sizing:content-box;
	/* animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: floatingtext;
	animation-duration: 5s; */
	position: relative;
	color: rgba(0, 0, 0, 0.36);
}

@keyframes floatingtext {
	0%   {left: -100px;}
	100% {left: calc(100% + 100px);}
  }

footer {
	height: auto;
	background-color: #2E2E2E;
	width: calc(100% - 60px);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	padding: 30px;
	color: whitesmoke;
	text-align: center;
	scroll-snap-align: start;
}
